{%- if site.enable_map -%}
<div style="display: flex; justify-content: center; align-items: center;">
  <script 
    type="text/javascript" 
    src="//rf.revolvermaps.com/0/0/8.js?i=5myrc9vroet&amp;m=7&amp;c=4b2e83&amp;cr1=ffc700&amp;f=comic_sans_ms&amp;l=0&amp;s=200"
    async="async"
  >
  </script>
</div>
{%- endif -%}
